@model IEnumerable<WorkManagement.Models.GoOutLetter>
@using WorkManagement.Controllers

@{
    ViewBag.Title = "Kiểm Tra Tình Trạng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title_right">
    <div class="col-md-3 col-sm-3 col-xs-11 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">

                <h2>Kiểm tra tình trạng nghỉ sớm</h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Thời gian bắt đầu
                            </th>
                            <th>
                                Thời gian nghỉ
                            </th>
                            <th>
                                Thời gian gửi
                            </th>
                            <th>
                                Lý do
                            </th>
                            <th>
                                Trạng thái
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Static.StringToDatetime(item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeLeave)
                                </td>
                                <td>
                                    @Static.StringToDatetime(item.CreateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason.Name)
                                </td>
                                <td>
                                    @Static.ProcessStatus(item.Status)
                                </td>
                                <td>
                                    @if (item.Status != "2" && item.Status != "3" && item.Status != "7" && Static.StringToDatetime(item.StartTime) > DateTime.Now)
                                    {
                                        @Html.Hidden("GoOutLetterID", item.ID)
                                        @Html.ActionLink("Xóa", "CancelGoOutLetter", "GoOutLetter", new { id = item.ID }, new { onclick = "return confirm('Bạn có muốn hủy đơn xin nghỉ sớm " + "?');", @class = "btn btn-danger" })
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger disabled" style="float:right">Hủy</button>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
