@model PagedList.IPagedList<WorkManagement.Models.GoOutLetter>
@using WorkManagement.Controllers
@using PagedList.Mvc

@{
    ViewBag.Title = "Kiểm Tra Tình Trạng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <form>
        <div class="title_right">
            <div class="col-md-3 col-sm-3 col-xs-11 form-group pull-right top_search">
                <div class="input-group">
                    @Html.TextBox("searchString", ViewBag.CurrentSearch as string, new { @class = "form-control", @placeholder = "Tìm kiếm..." })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">

                    <h2>Kiểm tra tình trạng nghỉ sớm</h2>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nhân viên
                                </th>
                                <th>
                                    @Html.ActionLink("Thời gian bắt đầu", "ViewGoOutLetter_SuperManager", new
                               {
                                   sortOrder = ViewBag.StartTimeSort,
                                   currentSort = ViewBag.CurrentSort,
                                   currentSearch = ViewBag.CurrentSearch
                               })
                                </th>
                                <th>
                                    Thời gian nghỉ
                                </th>
                                <th>
                                    @Html.ActionLink("Thời gian gửi", "ViewGoOutLetter_SuperManager", new
                               {
                                   sortOrder = ViewBag.CreateTimeSort,
                                   currentSort = ViewBag.CurrentSort,
                                   currentSearch = ViewBag.CurrentSearch
                               })
                                </th>
                                <th>
                                    Lý do
                                </th>
                                <th>
                                    Trạng thái
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Account.Employee.FullName)
                                    </td>
                                    <td>
                                        @Static.StringToDatetime(item.StartTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeLeave)
                                    </td>
                                    <td>
                                        @Static.StringToDatetime(item.CreateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reason.Name)
                                    </td>
                                    <td>
                                        @Static.ProcessStatus(item.Status)
                                    </td>
                                    <td>
                                        @if ((item.Status.Equals("5") || item.Status.Equals("4")) && Static.StringToDatetime(item.StartTime) > DateTime.Now)
                                        {
                                            /**/
                                            <form action="QLCCTuChoi" method="post" style="float:right">
                                                <input type="hidden" name="id" value="@item.ID" />
                                                <button class="btn btn-danger">Từ chối</button>
                                            </form>
                                            <form action="QLCCChapNhan" method="post" style="float:right">
                                                <input type="hidden" name="id" value="@item.ID" />
                                                <button class="btn btn-success">Chấp nhận</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <button class="btn btn-danger disabled" style="float:right">Từ chối</button>
                                            <button class="btn btn-success disabled" style="float:right">Chấp nhận</button>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mid_center">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("ViewGoOutLetter_SuperManager",
        new
        {
            page,
            sortOrder = ViewBag.CurrentSort,
            currentSearch = ViewBag.CurrentSearch
        }))
        </div>
    </div>
</div>