@model IEnumerable<WorkManagement.Models.GoOutLetter>

@{
    ViewBag.Title = "Kiểm Tra Tình Trạng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title_right">
    <div class="col-md-3 col-sm-3 col-xs-11 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">

                <h2>Kiểm tra tình trạng nghỉ sớm</h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nhân viên
                            </th>
                            <th>
                                Thời gian bắt đầu
                            </th>
                            <th>
                                Số giờ ra ngoài
                            </th>
                            <th>
                                Thời gian gửi
                            </th>
                            <th>
                                Lý do
                            </th>
                            <th>
                                Trạng thái
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.Employee.FullName)
                                </td>
                                <td>
                                    @WorkManagement.Controllers.Static.StringToDatetime(item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeLeave)
                                </td>
                                <td>
                                    @WorkManagement.Controllers.Static.StringToDatetime(item.CreateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason.Name)
                                </td>
                                @switch (item.Status)
                                {
                                    case "0":
                                        <td>
                                            Chưa duyệt
                                        </td>
                                        break;
                                    case "1":
                                        <td>
                                            Đã chấp nhận
                                        </td>
                                        break;
                                    case "2":
                                        <td>
                                            Đã từ chối
                                        </td>
                                        break;
                                    default:
                                        <td> Chưa duyệt</td>
                                        break;
                                }
                                <td>
                                    <button class="btn btn-danger">Chấp nhận</button>
                                    <button class="btn btn-danger">Từ chối</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
