@model IEnumerable<WorkManagement.Models.Timekeeping>
@{
    ViewBag.Title = "ManagerToday";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div class="title_right">
    <div class="col-md-3 col-sm-3 col-xs-11 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">

            <h2>Thông tin các nhân viên trong ngày @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Tên nhân viên
                        </th>
                        <th>
                            Check in
                        </th>
                        <th>
                            Check out
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account.Employee.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CheckIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CheckOut)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Thor</td>
                        <td>@DateTime.Now</td>
                        <td>@DateTime.Now</td>
                    </tr>
                    <tr>
                        <td>Finn</td>
                        <td>@DateTime.MaxValue</td>
                        <td>@DateTime.Now</td>
                    </tr>
                    <tr>
                        <td>Serge</td>
                        <td>@DateTime.Now</td>
                        <td>@DateTime.Now</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
