@using WorkManagement.Models
@model Employee
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông tin cá nhân</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" style="padding-top:0">
                            Họ tên:
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            @(((Account)ViewBag.User).Employee.FullName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" style="padding-top:0">
                            Email:
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            @(((Account)ViewBag.User).Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" style="padding-top:0">
                            Chức vụ:
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            @(((Account)ViewBag.User).Permission.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <label></label>
                    </div>
                    <div class="form-group">
                        <label></label>
                    </div>
                    
                </form>
            </div>
        </div>

    </div>
    @if (((Account)ViewBag.User).Permission_ID != "1")
    {
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thông tin nghỉ phép</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12" style="padding-top:0">
                                Ngày phép hiện có:
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @ViewBag.SumDayOff ngày
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12" style="padding-top:0">
                                Ngày phép đã sử dụng:
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @(((Account)ViewBag.User).Employee.DaysUsed) ngày
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12" style="padding-top:0">
                                Ngày phép được thưởng:
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @ViewBag.SumBonus ngày
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12" style="padding-top:0">
                                Giờ ra ngoài hiện có:
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @ViewBag.SumHourOut giờ
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12" style="padding-top:0">
                                Giờ ra ngoài đã sử dụng:
                            </label>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @(((Account)ViewBag.User).Employee.HoursUsed) giờ
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    }
    
</div>



