@model IEnumerable<WorkManagement.Models.Account>
@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tạo tài khoản</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form ng-app="" novalidate name="frmCreateAccount" method="post" action="~/Accounts/CreatePost" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label for="employee" class="control-label col-md-2 col-sm-2 col-xs-12">
                            Tên nhân viên <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" name="employee" id="employee" ng-pattern="/^([a-zA-Z0-9 ]+)$/" required ng-model="employee" ng-trim="true" ng-minlength="4" ng-maxlength="50" class="form-control col-md-7 col-xs-12 input-validate">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmCreateAccount.employee.$dirty||frmCreateAccount.$submitted) && frmCreateAccount.employee.$error.required"><label class="control-label">Hãy nhập tên nhân viên.</label></span>
                            <span class="error" ng-show="frmCreateAccount.employee.$dirty && frmCreateAccount.employee.$error.minlength"><label class="control-label">Ít nhất là 4 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateAccount.employee.$dirty && frmCreateAccount.employee.$error.maxlength"><label class="control-label">Nhiều nhất là 50 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateAccount.employee.$dirty && frmCreateAccount.employee.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="account">
                            Tên tài khoản <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" name="account" id="account" ng-pattern="/^([a-zA-Z0-9]+)$/" required ng-model="account_name" ng-trim="true" ng-minlength="4" ng-maxlength="50" class="form-control col-md-7 col-xs-12 input-validate">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmCreateAccount.account.$dirty||frmCreateAccount.$submitted) && frmCreateAccount.account.$error.required"><label class="control-label">Hãy nhập tên tài khoản.</label></span>
                            <span class="error" ng-show="frmCreateAccount.account.$dirty && frmCreateAccount.account.$error.minlength"><label class="control-label">Ít nhất là 4 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateAccount.account.$dirty && frmCreateAccount.account.$error.maxlength"><label class="control-label">Nhiều nhất là 50 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateAccount.account.$dirty && frmCreateAccount.account.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="password">
                            Mật khẩu <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="password" name="password" id="password" required ng-pattern="/^([a-zA-Z0-9]+)$/" ng-model="password" ng-trim="true" ng-minlength="6" ng-maxlength="25" class="form-control col-md-7 col-xs-12 input-validate">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmCreateAccount.password.$dirty||frmCreateAccount.$submitted) && frmCreateAccount.password.$error.required"><label class="control-label">Hãy nhập mật khẩu.</label></span>
                            <span class="error" ng-show="frmCreateAccount.password.$dirty && frmCreateAccount.password.$error.minlength"><label class="control-label">Ít nhất là 6 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateAccount.password.$dirty && frmCreateAccount.password.$error.maxlength"><label class="control-label">Nhiều nhất là 25 ký tự.</label></span>
                            <span class="error" ng-show="frmCreateAccount.password.$dirty && frmCreateAccount.password.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password2" class="control-label col-md-2 col-sm-2 col-xs-12">
                            Mật khẩu (Nhập lại)<span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12 input-validate" type="password" name="password2" id="password2" required ng-pattern="password" ng-model="password2" ng-trim="true">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            
                            <span class="error" ng-show="frmCreateAccount.password2.$error.pattern"><label class="control-label">Mật khẩu nhập lại không đúng.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="permission" class="control-label col-md-2 col-sm-2 col-xs-12">
                            Chức vụ <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <select class="form-control col-md-7 col-sm-7 col-xs-12" required name="permission" id="permission">
                                @foreach (var item in ViewBag.Permission_ID)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmCreateAccount.permission.$dirty||frmCreateAccount.$submitted) && frmCreateAccount.permission.$error.required"><label class="control-label">Hãy chọn chức vụ.</label></span>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                            <button type="submit" ng-disabled="frmCreateAccount.$invalid" class="btn btn-primary">Tạo</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Account</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Permission_ID, "Permission_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Permission_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Permission_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Account</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Permission_ID, "Permission_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Permission_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Permission_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@