@model IEnumerable<WorkManagement.Models.Account>
@{
    ViewBag.Title = "Reset mật khẩu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Reset mật khẩu</h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form method="post" ng-app="" novalidate name="frmResetPassword" action="@Url.Action("ResetPasswordPost","Accounts")"  class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="account">
                            Tên tài khoản <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <select class="form-control col-sm-7 col-md-7 col-xs-12"  name="account" ng-model="account" required>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ID">@item.Email --- [@item.Employee.FullName]</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmResetPassword.account.$dirty||frmResetPassword.$submitted) && frmResetPassword.account.$error.required"><label class="control-label">Hãy chọn tài khoản.</label></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="password">
                            Mật khẩu mới <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="password" name="password" ng-model="password" ng-pattern="/^([a-zA-Z0-9]+)$/" ng-trim="true" ng-minlength="6" ng-maxlength="25" required class="form-control col-sm-7 col-md-7 col-xs-12 input-validate">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <span class="error" ng-show="(frmResetPassword.password.$dirty||frmResetPassword.$submitted) && frmResetPassword.password.$error.required"><label class="control-label">Hãy nhập mật khẩu mới.</label></span>
                            <span class="error" ng-show="frmResetPassword.password.$dirty && frmResetPassword.password.$error.minlength"><label class="control-label">Ít nhất là 6 ký tự.</label></span>
                            <span class="error" ng-show="frmResetPassword.password.$dirty && frmResetPassword.password.$error.maxlength"><label class="control-label">Nhiều nhất là 25 ký tự.</label></span>
                            <span class="error" ng-show="frmResetPassword.password.$dirty && frmResetPassword.password.$error.pattern"><label class="control-label">Không được phép có ký tự đặc biệt.</label></span>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            @if (TempData["ResetPasswordSuccess"] != null)
                            {
                                <h2 class="text-center text-success">@TempData["ResetPasswordSuccess"]</h2>
                            }
                            @if (TempData["ResetPasswordFailed"] != null)
                            {
                                <h2 class="text-center text-danger">@TempData["ResetPasswordFailed"]</h2>
                            }
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary" ng-disabled="frmResetPassword.$invalid">Reset</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

