@model IEnumerable<WorkManagement.Models.AbsenceLetter>
@using WorkManagement.Controllers

@{
    ViewBag.Title = "Kiểm Tra Nghỉ Phép";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="title_right">
    <div class="col-md-3 col-sm-3 col-xs-11 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">

                <h2>Kiểm tra tình trạng nghỉ phép</h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Thời gian bắt đầu
                            </th>
                            <th>
                                Số ngày nghỉ
                            </th>
                            <th>
                                Thời gian gửi
                            </th>
                            <th>
                                Lý do
                            </th>
                            <th>
                                Trạng thái
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Static.StringToDatetime(item.StartTime).ToShortDateString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalTime)
                                </td>
                                <td>
                                    @Static.StringToDatetime(item.CreateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason.Name)
                                </td>
                                <td>
                                    @Static.ProcessStatus(item.Status)
                                </td>
                                <td>
                                    @*nếu trạng thái khác đã từ chối hoặc đã hủy và ngày nghỉ chưa tới thì được phép hủy*@
                                    @if (item.Status != "2" && item.Status != "7" && item.Status != "3" && Static.StringToDatetime(item.StartTime) > DateTime.Now)
                                    {
                                       <form action="CancelAbsenceLetter" method="post" >
                                            <input type="hidden" name="id" value="@item.ID" />
                                            <button class="btn btn-danger">Hủy</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <button disabled class="btn btn-danger">Hủy</button>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


